.btn {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: var(--font-medium);
    font-family: var(--font-family);
    border-radius: 10px;
    transition: all linear .3s;
    cursor: pointer;
    padding: 7px 15px;
}


.btn-sm {
    font-size: var(--font-small);
    padding: 4px 12px;
}

.btn-lg {
    font-size: var(--font-large);
    padding: 10px 18px;
}

.bd-dark {
    border: solid 1px var(--color-dark);
    color: var(--color-dark);
}

.bd-dark:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    
}

.bd-dark:active {
    outline: solid;
    outline-width: 3px;
    outline-color: #979797;
    transition: all .1s;
}


.bd-primary {
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
}

.bd-primary:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.bd-primary:active {
    outline: solid;
    outline-width: 3px;
    outline-color: #ffc4d7;
    transition: all .1s;
}


.bd-secondary {
    border: solid 1px var(--color-secondary);
    color: var(--color-secondary);
}

.bd-secondary:hover {
    color: var(--color-light);
    background-color: var(--color-secondary);
    
}

.bd-secondary:active {
    outline: solid;
    outline-width: 3px;
    outline-color: #a4abff;
    transition: all .1s;
}
