.input {
    outline: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: var(--font-medium);
    height: calc(var(--font-medium) + 8px);
}

/* .input-dr:focus {
    outline: solid;
    outline-width: 4px;
    outline-color: #7474747b;
    border: solid 2px #979797;
}

.input-pr:focus {
    outline: solid;
    outline-width: 4px;
    outline-color: #e462895f;
    border: solid 2px #e46289c6;
}

.input-sec:focus {
    outline: solid;
    outline-width: 4px;
    outline-color: #3f48ca63;
    border: solid 2px #3f48cac1;
} */

.input-sm {
    font-size: var(--font-small);
    height: calc(var(--font-small) + 8px);
}

.input-lg {
    font-size: var(--font-large);
    height: calc(var(--font-large) + 8px);
}

.input-dr {
    border: solid 2px #7474747b;
}

.input-pr {
    border: solid 2px #e462895f;
}

.input-sec {
    border: solid 2px #3f48ca63;
}


.input-dr:focus {
    outline: none;
    border: solid 2px #979797;
    box-shadow: 0 0 0 0.25rem #7474747b;
    transition: all linear .1s;
}

.input-pr:focus {
    outline: none;
    border: solid 2px #e46289c6;
    box-shadow: 0 0 0 0.25rem #e462895f;
    transition: all linear .1s;
}

.input-sec:focus {
    outline: none;
    border: solid 2px #3f48cac1;
    box-shadow: 0 0 0 0.25rem #3f48ca63;
    transition: all linear .1s;
}